* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
    position: relative;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 16px;
}

.contents {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px 0 hsla(0, 0%, 0%, 0.105);
    border-radius: 10px;
}

.first_row {
    background-color: white;
    padding: 2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h1 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.para_one {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.para_two {
    color: hsl(218, 22%, 67%);
    line-height: 1.7rem;
}

.second_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left_side {
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 10px;
}

h2 {
    margin-bottom: 1rem;
    font-size: 18px;
}

.para_three {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.per_month {
    font-size: 16px;
    font-weight: 300;
    color: hsl(204, 43%, 93%);
    filter: opacity(0.7);
}

.para_four {
    color: hsl(204, 43%, 93%);
    margin-bottom: 2rem;
}

button {
    padding: 1rem 6rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 10px 15px 0 hsla(0, 0%, 0%, 0.105);
    white-space: nowrap;
    transition: all 0.15s;
}

button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

button:active {
    box-shadow: none;
    filter: brightness(100%);
}

.right_side {
    background-color: hsla(179, 62%, 43%, 0.759);
    padding: 2rem;
    color: white;
    border-bottom-right-radius: 10px;
}

pre {
    color: hsla(203, 44%, 93%, 0.692);
    line-height: 1.3rem;
    font-size: 14px;
}

@media all and (max-width: 640px) {
    .second_row {
        grid-template-columns: 1fr;
    }

    .contents {
        max-width: 370px;
    }

    .left_side {
        border-radius: 0;
    }

    .right_side {
        border-bottom-left-radius: 10px;
    }

    button {
        padding: 1rem 8rem;
    }

    h1, h2 {
        font-size: 24px;
    }

    .para_one {
        margin-bottom: 1rem;
    }

    footer {
        transform: rotate(-270deg);
        right: 50%;
        top: 0;
    }
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
    white-space: nowrap;

    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: black;
    font-weight: 500;
    word-spacing: 0.3rem;
    letter-spacing: 0.2rem;
}

footer a {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: black;
    letter-spacing: normal;
    margin: 0.8rem;
    transition: all 0.15s;
}

footer a:hover {
    padding: 0.5rem 0.8rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 0;
}
